.wrapper {
    max-width: 780px;
    margin: 20px auto;
    padding: 25px 20px;

    position: relative;

    background-color: #ffffff
}

.title {
    margin: 0 0 25px;

    font-size: 38px;
    line-height: 40px;
}

.summary {
    margin: 0 0 25px;

    font-size: 16px;
    line-height: 18px;
}

.close {
    position: absolute;
    top: 45px;
    right: 15px;

    &:before,
    &:after {
        height: 3px;
        width: 35px;

        position: absolute;
        top: 0;
        right: 0;

        background-color: #004f66;

        content: '';
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }
}